//========================== Countdwon style 1 ==============================
.countdown-style-1 {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  text-align: center;

  h1 {
    font-family: var(--main-font);
  }

  h6 {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .divider {
    height: 70px;
    width: 1px;
    margin: 0 2.5rem;
    background-color: var(--white);
  }
}

//========================== Countdwon style 2 ==============================
.countdown-style-2 {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  text-align: center;

  h1 {
    font-family: var(--main-font);
  }

  h6 {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .time-con {
    h1 {
      color: var(--white);
    }
    .time {
      height: 80px;
      width: 80px;
      background-color: var(--dark-grey-4);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 1.5rem;
      position: relative;
    }

    
    &:not(:last-child) {
      .time::after {
        content: ":";
        display: inline-block;
        font-size: 3rem;
        color: var(--dark-grey-4);
        // margin: 0 1rem;
        position: absolute;
        right: -28px;
      }
    }
  }
}