.courses-section {
  .main-btn {
    margin: 3rem auto;
    position: relative;
    transition: 0.3s;
  }

  .main-btn:after {
    content: '⭢';
    position: absolute;
    opacity: 0;  
    right: 20px;
    transition: 0.3s;
    }

  .main-btn:hover{
    padding-right: 28px;
    padding-left:8px;
    }

  .main-btn:hover:after {
    opacity: 1;
    right: 15px;
    }
}

.membership-section {
  background-color: rgba(158, 182, 188, 0.3);
  padding: 3rem 0 1rem 0;

  .price-cards {
    .rotated-text {
      font-size: 8.5rem;
      right: -34%;
      bottom: 36%;
    }
  }

  .package-tables {
    margin: 4rem 2rem;
    display: none;
    opacity: 0;
    animation: fadeIn .5s;
  }

}

#features {
  .container {
    .row {
      h2 {
        margin: 0;
        margin-bottom: 3rem;
      }
    }
  }

}

