// Variables
:root {
  // Font Variables
  --heading-font: 'Playfair Display', serif;
  --main-font: 'Comfortaa', cursive;

  // Color Variables
  --heading-color: rgba(51, 62, 72, 0.9);
  --white: #fff;
  --red: #D80027;
  --light-red: #FC6B6B;
  --light-blue-1: #A2F8FF;
  --light-blue-2: #9C1D0D;
  --dark-blue-1: #0094b9;
  --dark-blue-2: #507F8B;
  --dark-blue-3: #0093B9;
  --dark-blue-4: #0194BA;
  --dark-indigo: #242E50;
  --icon-color: #7d2e26;
  --active-icon-color: #507F8B;
  --dark-grey-1: #545454;
  --dark-grey-2: #47515a;
  --dark-grey-3: #555555;
  --dark-grey-4: #333E48;
  --dark-grey-5: #707070;
  --dark-grey-6: #4C5358;
  --light-grey-1: #cccccc;
  --light-grey-2: #777777;
  --light-grey-3: #F7F7F7;
  --light-grey-4: #F0F0F0;
  --light-grey-5: #F7F9FA;
}